<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Weather API Documentation</title>
</head>
<body>
  <h1>Weather API Documentation</h1>
  <p>URL format: http://127.0.0.1:5000/api/station/date</p>
  <p>Get the temperature for one station of a specific date: http://127.0.0.1:5000/api/10/1988-10-25</p>
  <p>Get all the temperatures for one station: http://127.0.0.1:5000/api/10</p>
  <p>Get all the temperatures for one station of a single year: http://127.0.0.1:5000/api/year/10/1988</p>
  <h3>Available station ID's</h3>
  <p>{{data|safe}}</p>
</body>
</html>